.normal {
    color: black;
}

.bajo {
    color: orange;
    font-weight: bold;
}

.agotado {
    color: red;
    font-weight: bold;
}

h1 {
    font-family: "Gloria Hallelujah", cursive;
    color: peru;
}

h2 {
    font-family: "Gloria Hallelujah", cursive;
}

.procesando {
    color: blue;
}

.exito {
    color: green;
}

.error {
    color: red;
}